src/BodyArchitect.WCF/Service References/Automatic/BodyArchitect.Service.Model.TrainingPlans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BodyArchitect.Service.Model.TrainingPlans" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BodyArchitect.Service.Model.TrainingPlans" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrainingPlanDifficult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainingPlanDifficult" type="tns:TrainingPlanDifficult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainingPlanDifficult" nillable="true" type="tns:ArrayOfTrainingPlanDifficult" />
  <xs:simpleType name="TrainingPlanDifficult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="Beginner" />
      <xs:enumeration value="Advanced" />
      <xs:enumeration value="Professional" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TrainingPlanDifficult" nillable="true" type="tns:TrainingPlanDifficult" />
  <xs:complexType name="ArrayOfTrainingType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainingType" type="tns:TrainingType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainingType" nillable="true" type="tns:ArrayOfTrainingType" />
  <xs:simpleType name="TrainingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Split" />
      <xs:enumeration value="FBW" />
      <xs:enumeration value="HIT" />
      <xs:enumeration value="ABW" />
      <xs:enumeration value="HST" />
      <xs:enumeration value="PushPull" />
      <xs:enumeration value="ACT" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TrainingType" nillable="true" type="tns:TrainingType" />
</xs:schema>