src/BodyArchitect.WCF/Service References/Automatic/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://MYBASERVICE.TK/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BodyArchitectAccessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IBodyArchitectAccessService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://MYBASERVICE.TK/" location="" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IBodyArchitectAccessService" type="i0:IBodyArchitectAccessService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IBodyArchitectAccessService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkoutPlans">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetWorkoutPlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWorkoutPlan">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetWorkoutPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveWorkoutPlan">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/SaveWorkoutPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VoteWorkoutPlan">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/VoteWorkoutPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VoteExercise">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/VoteExercise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkoutPlan">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/DeleteWorkoutPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteExercise">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/DeleteExercise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WorkoutPlanFavoritesOperation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/WorkoutPlanFavoritesOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PublishWorkoutPlan">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/PublishWorkoutPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PublishExercise">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/PublishExercise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ImportData">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/ImportData" style="document" />
      <wsdl:input name="ImportDataStream">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMyTrainingEntries">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetMyTrainingEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfile">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/DeleteProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AccountOperation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/AccountOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UserFavoritesOperation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/UserFavoritesOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MapExercises">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/MapExercises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BlogCommentOperation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/BlogCommentOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBlogComments">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetBlogComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MessageOperation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/MessageOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProfileInformation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetProfileInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InviteFriendOperation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/InviteFriendOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/CreateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrainingDay">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/DeleteTrainingDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/UploadImage" style="document" />
      <wsdl:input name="PictureDTO">
        <soap:header message="i0:PictureDTO_Headers" part="Hash" use="literal" />
        <soap:header message="i0:PictureDTO_Headers" part="PictureId" use="literal" />
        <soap:header message="i0:PictureDTO_Headers" part="SessionId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PictureInfoDTO">
        <soap:header message="i0:PictureInfoDTO_Headers" part="Hash" use="literal" />
        <soap:header message="i0:PictureInfoDTO_Headers" part="PictureId" use="literal" />
        <soap:header message="i0:PictureInfoDTO_Headers" part="SessionId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckProfileNameAvailability">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/CheckProfileNameAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveTrainingDay">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/SaveTrainingDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTrainingDays">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetTrainingDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTrainingDay">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetTrainingDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetImage" style="document" />
      <wsdl:input name="PictureInfoDTO">
        <soap:header message="i0:PictureInfoDTO_Headers" part="Hash" use="literal" />
        <soap:header message="i0:PictureInfoDTO_Headers" part="PictureId" use="literal" />
        <soap:header message="i0:PictureInfoDTO_Headers" part="SessionId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PictureDTO">
        <soap:header message="i0:PictureDTO_Headers" part="Hash" use="literal" />
        <soap:header message="i0:PictureDTO_Headers" part="PictureId" use="literal" />
        <soap:header message="i0:PictureDTO_Headers" part="SessionId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetExercises">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetExercises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSuplements">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetSuplements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveExercise">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/SaveExercise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveSuplement">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/SaveSuplement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStartedTrainings">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetStartedTrainings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IBodyArchitectAccessService1" type="i0:IBodyArchitectAccessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkoutPlans">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetWorkoutPlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWorkoutPlan">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetWorkoutPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveWorkoutPlan">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/SaveWorkoutPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VoteWorkoutPlan">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/VoteWorkoutPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VoteExercise">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/VoteExercise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetComments">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkoutPlan">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/DeleteWorkoutPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteExercise">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/DeleteExercise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WorkoutPlanFavoritesOperation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/WorkoutPlanFavoritesOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PublishWorkoutPlan">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/PublishWorkoutPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PublishExercise">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/PublishExercise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ImportData">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/ImportData" style="document" />
      <wsdl:input name="ImportDataStream">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMyTrainingEntries">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetMyTrainingEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteProfile">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/DeleteProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AccountOperation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/AccountOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UserFavoritesOperation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/UserFavoritesOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MapExercises">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/MapExercises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BlogCommentOperation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/BlogCommentOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBlogComments">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetBlogComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MessageOperation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/MessageOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProfileInformation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetProfileInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InviteFriendOperation">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/InviteFriendOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateProfile">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/CreateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrainingDay">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/DeleteTrainingDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/UploadImage" style="document" />
      <wsdl:input name="PictureDTO">
        <soap:header message="i0:PictureDTO_Headers" part="Hash" use="literal" />
        <soap:header message="i0:PictureDTO_Headers" part="PictureId" use="literal" />
        <soap:header message="i0:PictureDTO_Headers" part="SessionId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PictureInfoDTO">
        <soap:header message="i0:PictureInfoDTO_Headers" part="Hash" use="literal" />
        <soap:header message="i0:PictureInfoDTO_Headers" part="PictureId" use="literal" />
        <soap:header message="i0:PictureInfoDTO_Headers" part="SessionId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckProfileNameAvailability">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/CheckProfileNameAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveTrainingDay">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/SaveTrainingDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTrainingDays">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetTrainingDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTrainingDay">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetTrainingDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetImage" style="document" />
      <wsdl:input name="PictureInfoDTO">
        <soap:header message="i0:PictureInfoDTO_Headers" part="Hash" use="literal" />
        <soap:header message="i0:PictureInfoDTO_Headers" part="PictureId" use="literal" />
        <soap:header message="i0:PictureInfoDTO_Headers" part="SessionId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PictureDTO">
        <soap:header message="i0:PictureDTO_Headers" part="Hash" use="literal" />
        <soap:header message="i0:PictureDTO_Headers" part="PictureId" use="literal" />
        <soap:header message="i0:PictureDTO_Headers" part="SessionId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetExercises">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetExercises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSuplements">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetSuplements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveExercise">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/SaveExercise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveSuplement">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/SaveSuplement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStartedTrainings">
      <soap:operation soapAction="http://MYBASERVICE.TK/IBodyArchitectAccessService/GetStartedTrainings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BAAuthenticationExceptionFault">
        <soap:fault use="literal" name="BAAuthenticationExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="BAServiceExceptionFault">
        <soap:fault use="literal" name="BAServiceExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BodyArchitectAccessService">
    <wsdl:port name="BasicHttpBinding_IBodyArchitectAccessService" binding="tns:BasicHttpBinding_IBodyArchitectAccessService">
      <soap:address location="http://robocik-pc/BodyArchitectWebSite/BodyArchitect.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IBodyArchitectAccessService1" binding="tns:BasicHttpBinding_IBodyArchitectAccessService1">
      <soap:address location="http://robocik-pc/BodyArchitectWebSite/BodyArchitect.svc/WP7" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>